extends layout

block content
  h1= title
  p Welcome to #{title}

  currently created routes localhost:3000
                                    /schedule, /blogs, /features, /newTracks, /albumReviews
